<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Limitless Path Generation System For Locomotion in VR</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!--  MDL    -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"
    />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.red-pink.min.css"
    />

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <!--     <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">

      </div>
    </header> -->

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout__title"
            >Limitless Path Generation System For Locomotion in VR</span
          >
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="#">Reference</a>
            <a class="mdl-navigation__link" href="#">Source code</a>
            <a class="mdl-navigation__link" href="#">Unity build</a>
            <a class="mdl-navigation__link" href="#">WebXR implementation</a>
            <a class="mdl-navigation__link" href="#">Abou authors</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout__title">Limitless Path Generation System</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="#">Reference</a>
          <a class="mdl-navigation__link" href="#">Source code</a>
          <a class="mdl-navigation__link" href="#">Unity build</a>
          <a class="mdl-navigation__link" href="#">WebXR implementation</a>
          <a class="mdl-navigation__link" href="#">Abou authors</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
      
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col">
                     <h2 class="mdl-card__title-text">
              What is Limitless Path Generation System?
            </h2>
          </div>
          <div class="mdl-cell mdl-cell--4-col">

            <h2 class="mdl-card__title-text">Instructions</h2>
            <!-- instructions will go here. -->

          <br/><br/>  
          
          <h2 class="mdl-card__title-text">
            Metadata Form
        </h2>
        <form method="POST">
            <div class="mdl-textfield mdl-js-textfield">
              <input
                class="dimen-inp mdl-textfield__input"
                type="number"
                name="pathWidth"
                step="any"
                id="pathWidth"
              />
              <label class="mdl-textfield__label" for="pathWidth"
                >Path segment width</label
              >
            </div>
            <div class="mdl-textfield mdl-js-textfield">
              <input
                class="dimen-inp mdl-textfield__input"
                type="number"
                name="pathSegmentLength"
                step="any"
                id="pathSegmentLength"
              />
              <label class="mdl-textfield__label" for="pathSegmentLength"
                >Path segment length</label
              >
            </div>
            <div class="mdl-textfield mdl-js-textfield">
              <input
                type="number"
                name="visiblePathSegmentCount"
                id="visiblePathSegmentCount"
                class="mdl-textfield__input"
              />
              <label
                class="mdl-textfield__label"
                for="visiblePathSegmentCount"
                >Number of visible path segments</label
              >
            </div>
            <div class="mdl-textfield mdl-js-textfield">
              <label class="mdl-textfield__label" for="rayArrayLength"
                >Ray array length</label
              >
              <input
                class="dimen-inp mdl-textfield__input"
                type="number"
                name="rayArrayLength"
                id="rayArrayLength"
              />
            </div>
            <div class="mdl-textfield mdl-js-textfield">
              <label class="mdl-textfield__label" for="playAreaPadding"
                >Play area padding</label
              >
              <input
                class="dimen-inp mdl-textfield__input"
                type="number"
                step="any"
                name="playAreaPadding"
                id="playAreaPadding"
              />
            </div>
            <div class="mdl-textfield mdl-js-textfield">
              <textarea
                rows="6"
                name="imageURI"
                class="mdl-textfield__input"
                id="imageURI"
              ></textarea>
              <label class="mdl-textfield__label" for="imageURI"
                >Image URIs separated by `;`
              </label>
            </div>
            <!-- Accent-colored raised button with ripple -->
            <br /><button
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
              type="submit"
            >
              Get ID
            </button>
          </form>
            {% block content %}
            {% endblock %}
          </div>
          <div class="mdl-cell mdl-cell--4-col">
                      <!-- <div class="mdl-card mdl-shadow--2dp">
              <div class="mdl-card__supporting-text">
                <h4 class="mdl-card__title-text">WebXR implementation</h4>
                This text might describe the photo and provide further
                information, such as where and when it was taken.
              </div>
              <div class="mdl-card__actions">
                <button
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                >
                  Experience in Browser
                </button>
                <div class="mdl-card__actions">
                  <button
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                  >
                    Source code
                  </button>
                </div>
              </div>
            </div> -->
          <div class="mdl-card mdl-shadow--2dp">
              <!--               <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Experience in VR</h2>
              </div> -->
              <!-- Raised button with ripple -->

              <div class="mdl-card__supporting-text">
                <h4 class="mdl-card__title-text">Unity Package</h4>
                This text might describe the photo and provide further
                information, such as where and when it was taken.
              </div>
              <div class="mdl-card__actions">
                <button
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                >
                  Download pre-built APK for Oculus Quest
                </button>
                <div class="mdl-card__actions">
                  <button
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                  >
                    Download Unity Package
                  </button>
                </div>
              </div>
            </div>
          </div>
          
        </div>

      </main>
    </div>
  </body>
</html>
